<div class="row">
    <div class="col-6">
        <label for="journalRemarks" class="form-label">Journal Remarks</label>
        <input type="text" class="form-control" id="journalRemarks" />
    </div>
      <div class="col-6">
        <label for="orderno" class="form-label">Order No</label>
        <input type="number" class="form-control" id="orderno" />
    </div>
    <div class="col-6">
        <label for="paymentterms">Payment Terms</label>
        <select id="paymentterms" class="form-control">
            <option value="100 % Cash/Card/Cheque Payment">100 % Cash/Card/Cheque Payment</option>
            <option value="100 % at delivery">100 % at delivery</option>
            <option value="50% Advance 50% on delivery">50% Advance 50% on delivery</option>
        </select>
    </div>
    
      <div class="col-6">
        <label for="requireddate" class="form-label">Required Date</label>
        <input type="date" class="form-control" id="requireddate" />
    </div>
      <div class="col-6">
    </div>
      <div class="col-6">
        <label for="cancellationdate" class="form-label">Cancellation Date</label>
        <input type="date" class="form-control" id="cancellationdate" />
    </div>

</div>
